.simple-modal {
    display: none;
    /* Other styling for the modal... */
}

.simple-modal.is-open {
    display: block;
}

.simple-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.simple-modal-content {
    background: white;
    padding: 20px;
    border-radius: 4px;
    max-width: 500px;
    max-height: 80%;
    overflow-y: auto;
}

.simple-modal-content h2 {
    margin-top: 0;
}

.simple-modal-content p {
    white-space: pre-wrap;
    /* CSS property that makes the line breaks and whitespace behave like in a <pre> tag */
}